<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Helpdesk, SuperHelpdesk, Supervisor"/>
            <deny users="*"/>
        </authorization>
    </system.web>

    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk, Supervisor"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="SearchReporters.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="SearchIncidentReports.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="OnlineReports.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyPublishers.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifySecretaries.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyPublicationsOffices.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyDataCenters.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyDistributionPoints.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyLibraries.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyPricingCommittees.aspx">
        <system.web>
            <authorization>
                <allow roles="SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="VerifyMinistryPaymentsUsers.aspx">
        <system.web>
            <authorization>
                <allow roles="SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="SearchLessonReports.aspx">
        <system.web>
            <authorization>
                <allow roles="Helpdesk, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="SearchSupervisorReports.aspx">
        <system.web>
            <authorization>
                <allow roles="Supervisor"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="HelpdeskAdministration.aspx">
        <system.web>
            <authorization>
                <allow roles="SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="HelpdeskUsers.aspx">
        <system.web>
            <authorization>
                <allow roles="SystemAdministrator, SuperHelpdesk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>